In [25]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sklearn
import tensorflow as tf

In [26]:
DF = pd.read_csv('train.csv')
DF.head()

,ID,Loan Amount,Funded Amount,Funded Amount Investor,Term,Batch Enrolled,Interest Rate,Grade,Sub Grade,Employment Duration,...,Recoveries,Collection Recovery Fee,Collection 12 months Medical,Application Type,Last week Pay,Accounts Delinquent,Total Collection Amount,Total Current Balance,Total Revolving Credit Limit,Loan Status
0,65087372,10000,32236,12329.36286,59,BAT2522922,11.135007,B,C4,MORTGAGE,...,2.498291,0.793724,0,INDIVIDUAL,49,0,31,311301,6619,0
1,1450153,3609,11940,12191.99692,59,BAT1586599,12.237563,C,D3,RENT,...,2.377215,0.974821,0,INDIVIDUAL,109,0,53,182610,20885,0
2,1969101,28276,9311,21603.22455,59,BAT2136391,12.545884,F,D4,MORTGAGE,...,4.316277,1.020075,0,INDIVIDUAL,66,0,34,89801,26155,0
3,6651430,11170,6954,17877.15585,59,BAT2428731,16.731201,C,C3,MORTGAGE,...,0.107020,0.749971,0,INDIVIDUAL,39,0,40,9189,60214,0
4,14354669,16890,13226,13539.92667,59,BAT5341619,15.008300,C,D4,MORTGAGE,...,1294.818751,0.368953,0,INDIVIDUAL,18,0,430,126029,22579,0

In [3]:
DF.describe()

,ID,Loan Amount,Funded Amount,Funded Amount Investor,Term,Interest Rate,Home Ownership,Debit to Income,Delinquency - two years,Inquires - six months,...,Total Received Late Fee,Recoveries,Collection Recovery Fee,Collection 12 months Medical,Last week Pay,Accounts Delinquent,Total Collection Amount,Total Current Balance,Total Revolving Credit Limit,Loan Status
count,6.746300e+04,67463.000000,67463.000000,67463.000000,67463.000000,67463.000000,67463.000000,67463.000000,67463.000000,67463.000000,...,67463.000000,67463.000000,67463.000000,67463.000000,67463.000000,67463.0,67463.000000,6.746300e+04,67463.000000,67463.000000
mean,2.562761e+07,16848.902776,15770.599114,14621.799323,58.173814,11.846258,80541.502522,23.299241,0.327127,0.145754,...,1.143969,59.691578,1.125141,0.021301,71.163260,0.0,146.467990,1.595739e+05,23123.005544,0.092510
std,2.109155e+07,8367.865726,8150.992662,6785.345170,3.327441,3.718629,45029.120366,8.451824,0.800888,0.473291,...,5.244365,357.026346,3.489885,0.144385,43.315845,0.0,744.382233,1.390332e+05,20916.699999,0.289747
min,1.297933e+06,1014.000000,1014.000000,1114.590204,36.000000,5.320006,14573.537170,0.675299,0.000000,0.000000,...,0.000003,0.000036,0.000036,0.000000,0.000000,0.0,1.000000,6.170000e+02,1000.000000,0.000000
25%,6.570288e+06,10012.000000,9266.500000,9831.684984,58.000000,9.297147,51689.843335,16.756416,0.000000,0.000000,...,0.021114,1.629818,0.476259,0.000000,35.000000,0.0,24.000000,5.037900e+04,8155.500000,0.000000
50%,1.791565e+07,16073.000000,13042.000000,12793.682170,59.000000,11.377696,69335.832680,22.656658,0.000000,0.000000,...,0.043398,3.344524,0.780141,0.000000,68.000000,0.0,36.000000,1.183690e+05,16733.000000,0.000000
75%,4.271521e+07,22106.000000,21793.000000,17807.594120,59.000000,14.193533,94623.322785,30.048400,0.000000,0.000000,...,0.071884,5.453727,1.070566,0.000000,105.000000,0.0,46.000000,2.283750e+05,32146.500000,0.000000
max,7.224578e+07,35000.000000,34999.000000,34999.746430,59.000000,27.182348,406561.536400,39.629862,8.000000,5.000000,...,42.618882,4354.467419,166.833000,1.000000,161.000000,0.0,16421.000000,1.177412e+06,201169.000000,1.000000

In [4]:
df = DF[['ID','Loan Amount']]

In [5]:
df.head()

         ID  Loan Amount
0  65087372        10000
1   1450153         3609
2   1969101        28276
3   6651430        11170
4  14354669        16890

In [6]:
DF.at[104,'ID']

14520277

In [7]:
DF.head()

,ID,Loan Amount,Funded Amount,Funded Amount Investor,Term,Batch Enrolled,Interest Rate,Grade,Sub Grade,Employment Duration,...,Recoveries,Collection Recovery Fee,Collection 12 months Medical,Application Type,Last week Pay,Accounts Delinquent,Total Collection Amount,Total Current Balance,Total Revolving Credit Limit,Loan Status
0,65087372,10000,32236,12329.36286,59,BAT2522922,11.135007,B,C4,MORTGAGE,...,2.498291,0.793724,0,INDIVIDUAL,49,0,31,311301,6619,0
1,1450153,3609,11940,12191.99692,59,BAT1586599,12.237563,C,D3,RENT,...,2.377215,0.974821,0,INDIVIDUAL,109,0,53,182610,20885,0
2,1969101,28276,9311,21603.22455,59,BAT2136391,12.545884,F,D4,MORTGAGE,...,4.316277,1.020075,0,INDIVIDUAL,66,0,34,89801,26155,0
3,6651430,11170,6954,17877.15585,59,BAT2428731,16.731201,C,C3,MORTGAGE,...,0.107020,0.749971,0,INDIVIDUAL,39,0,40,9189,60214,0
4,14354669,16890,13226,13539.92667,59,BAT5341619,15.008300,C,D4,MORTGAGE,...,1294.818751,0.368953,0,INDIVIDUAL,18,0,430,126029,22579,0

In [8]:
DF.drop(columns = ['Grade'],inplace=True)

In [9]:
DF.drop(columns = ['Sub Grade'],inplace=True)

In [10]:
DF.head()

,ID,Loan Amount,Funded Amount,Funded Amount Investor,Term,Batch Enrolled,Interest Rate,Employment Duration,Home Ownership,Verification Status,...,Recoveries,Collection Recovery Fee,Collection 12 months Medical,Application Type,Last week Pay,Accounts Delinquent,Total Collection Amount,Total Current Balance,Total Revolving Credit Limit,Loan Status
0,65087372,10000,32236,12329.36286,59,BAT2522922,11.135007,MORTGAGE,176346.62670,Not Verified,...,2.498291,0.793724,0,INDIVIDUAL,49,0,31,311301,6619,0
1,1450153,3609,11940,12191.99692,59,BAT1586599,12.237563,RENT,39833.92100,Source Verified,...,2.377215,0.974821,0,INDIVIDUAL,109,0,53,182610,20885,0
2,1969101,28276,9311,21603.22455,59,BAT2136391,12.545884,MORTGAGE,91506.69105,Source Verified,...,4.316277,1.020075,0,INDIVIDUAL,66,0,34,89801,26155,0
3,6651430,11170,6954,17877.15585,59,BAT2428731,16.731201,MORTGAGE,108286.57590,Source Verified,...,0.107020,0.749971,0,INDIVIDUAL,39,0,40,9189,60214,0
4,14354669,16890,13226,13539.92667,59,BAT5341619,15.008300,MORTGAGE,44234.82545,Source Verified,...,1294.818751,0.368953,0,INDIVIDUAL,18,0,430,126029,22579,0

In [11]:
DF.drop(columns = ['ID'],inplace=True)

In [12]:
DF.drop(columns = ['Payment Plan'],inplace=True)

In [13]:
DF = DF.rename(columns={'Employment Duration' : 'Ownership Type'})

In [14]:
key = {'w':1 ,'f':0}
DF.replace({'Initial List Status':key})

,Loan Amount,Funded Amount,Funded Amount Investor,Term,Batch Enrolled,Interest Rate,Ownership Type,Home Ownership,Verification Status,Loan Title,...,Recoveries,Collection Recovery Fee,Collection 12 months Medical,Application Type,Last week Pay,Accounts Delinquent,Total Collection Amount,Total Current Balance,Total Revolving Credit Limit,Loan Status
0,10000,32236,12329.36286,59,BAT2522922,11.135007,MORTGAGE,176346.62670,Not Verified,Debt Consolidation,...,2.498291,0.793724,0,INDIVIDUAL,49,0,31,311301,6619,0
1,3609,11940,12191.99692,59,BAT1586599,12.237563,RENT,39833.92100,Source Verified,Debt consolidation,...,2.377215,0.974821,0,INDIVIDUAL,109,0,53,182610,20885,0
2,28276,9311,21603.22455,59,BAT2136391,12.545884,MORTGAGE,91506.69105,Source Verified,Debt Consolidation,...,4.316277,1.020075,0,INDIVIDUAL,66,0,34,89801,26155,0
3,11170,6954,17877.15585,59,BAT2428731,16.731201,MORTGAGE,108286.57590,Source Verified,Debt consolidation,...,0.107020,0.749971,0,INDIVIDUAL,39,0,40,9189,60214,0
4,16890,13226,13539.92667,59,BAT5341619,15.008300,MORTGAGE,44234.82545,Source Verified,Credit card refinancing,...,1294.818751,0.368953,0,INDIVIDUAL,18,0,430,126029,22579,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67458,13601,6848,13175.28583,59,BAT3193689,9.408858,MORTGAGE,83961.15003,Verified,Credit card refinancing,...,564.614852,0.865230,0,INDIVIDUAL,69,0,48,181775,34301,1
67459,8323,11046,15637.46301,59,BAT1780517,9.972104,RENT,65491.12817,Source Verified,Credit card refinancing,...,2.015494,1.403368,0,INDIVIDUAL,14,0,37,22692,8714,0
67460,15897,32921,12329.45775,59,BAT1761981,19.650943,MORTGAGE,34813.96985,Verified,Lending loan,...,5.673092,1.607093,0,INDIVIDUAL,137,0,17,176857,42330,0
67461,16567,4975,21353.68465,59,BAT2333412,13.169095,OWN,96938.83564,Not Verified,Debt consolidation,...,1.157454,0.207608,0,INDIVIDUAL,73,0,61,361339,39075,0
67462,15353,29875,14207.44860,59,BAT1930365,16.034631,MORTGAGE,105123.15580,Verified,Debt consolidation,...,1.856480,0.366386,0,INDIVIDUAL,54,0,47,196960,66060,0

In [15]:
DF['Initial List Status'].head()

0    w
1    f
2    w
3    w
4    w
Name: Initial List Status, dtype: object

In [16]:
DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67463 entries, 0 to 67462
Data columns (total 31 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Loan Amount                   67463 non-null  int64
 1   Funded Amount                 67463 non-null  int64
 2   Funded Amount Investor        67463 non-null  float64
 3   Term                          67463 non-null  int64
 4   Batch Enrolled                67463 non-null  object
 5   Interest Rate                 67463 non-null  float64
 6   Ownership Type                67463 non-null  object
 7   Home Ownership                67463 non-null  float64
 8   Verification Status           67463 non-null  object
 9   Loan Title                    67463 non-null  object
 10  Debit to Income               67463 non-null  float64
 11  Delinquency - two years       67463 non-null  int64
 12  Inquires - six months         67463 non-null  int64
 13  Open Account                  67463 non-null  int64
 14  Public Record                 67463 non-null  int64
 15  Revolving Balance             67463 non-null  int64
 16  Revolving Utilities           67463 non-null  float64
 17  Total Accounts                67463 non-null  int64
 18  Initial List Status           67463 non-null  object
 19  Total Received Interest       67463 non-null  float64
 20  Total Received Late Fee       67463 non-null  float64
 21  Recoveries                    67463 non-null  float64
 22  Collection Recovery Fee       67463 non-null  float64
 23  Collection 12 months Medical  67463 non-null  int64
 24  Application Type              67463 non-null  object
 25  Last week Pay                 67463 non-null  int64
 26  Accounts Delinquent           67463 non-null  int64
 27  Total Collection Amount       67463 non-null  int64
 28  Total Current Balance         67463 non-null  int64
 29  Total Revolving Credit Limit  67463 non-null  int64
 30  Loan Status                   67463 non-null  int64
dtypes: float64(9), int64(16), object(6)
memory usage: 16.0+ MB

In [17]:
DF.isnull()

,Loan Amount,Funded Amount,Funded Amount Investor,Term,Batch Enrolled,Interest Rate,Ownership Type,Home Ownership,Verification Status,Loan Title,...,Recoveries,Collection Recovery Fee,Collection 12 months Medical,Application Type,Last week Pay,Accounts Delinquent,Total Collection Amount,Total Current Balance,Total Revolving Credit Limit,Loan Status
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67458,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
67459,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
67460,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
67461,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
67462,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [18]:
# prompt: drop last row of table

DF.drop(DF.tail(1).index, inplace=True)

In [19]:
DF.head()

,Loan Amount,Funded Amount,Funded Amount Investor,Term,Batch Enrolled,Interest Rate,Ownership Type,Home Ownership,Verification Status,Loan Title,...,Recoveries,Collection Recovery Fee,Collection 12 months Medical,Application Type,Last week Pay,Accounts Delinquent,Total Collection Amount,Total Current Balance,Total Revolving Credit Limit,Loan Status
0,10000,32236,12329.36286,59,BAT2522922,11.135007,MORTGAGE,176346.62670,Not Verified,Debt Consolidation,...,2.498291,0.793724,0,INDIVIDUAL,49,0,31,311301,6619,0
1,3609,11940,12191.99692,59,BAT1586599,12.237563,RENT,39833.92100,Source Verified,Debt consolidation,...,2.377215,0.974821,0,INDIVIDUAL,109,0,53,182610,20885,0
2,28276,9311,21603.22455,59,BAT2136391,12.545884,MORTGAGE,91506.69105,Source Verified,Debt Consolidation,...,4.316277,1.020075,0,INDIVIDUAL,66,0,34,89801,26155,0
3,11170,6954,17877.15585,59,BAT2428731,16.731201,MORTGAGE,108286.57590,Source Verified,Debt consolidation,...,0.107020,0.749971,0,INDIVIDUAL,39,0,40,9189,60214,0
4,16890,13226,13539.92667,59,BAT5341619,15.008300,MORTGAGE,44234.82545,Source Verified,Credit card refinancing,...,1294.818751,0.368953,0,INDIVIDUAL,18,0,430,126029,22579,0

In [20]:
DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67462 entries, 0 to 67461
Data columns (total 31 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Loan Amount                   67462 non-null  int64
 1   Funded Amount                 67462 non-null  int64
 2   Funded Amount Investor        67462 non-null  float64
 3   Term                          67462 non-null  int64
 4   Batch Enrolled                67462 non-null  object
 5   Interest Rate                 67462 non-null  float64
 6   Ownership Type                67462 non-null  object
 7   Home Ownership                67462 non-null  float64
 8   Verification Status           67462 non-null  object
 9   Loan Title                    67462 non-null  object
 10  Debit to Income               67462 non-null  float64
 11  Delinquency - two years       67462 non-null  int64
 12  Inquires - six months         67462 non-null  int64
 13  Open Account                  67462 non-null  int64
 14  Public Record                 67462 non-null  int64
 15  Revolving Balance             67462 non-null  int64
 16  Revolving Utilities           67462 non-null  float64
 17  Total Accounts                67462 non-null  int64
 18  Initial List Status           67462 non-null  object
 19  Total Received Interest       67462 non-null  float64
 20  Total Received Late Fee       67462 non-null  float64
 21  Recoveries                    67462 non-null  float64
 22  Collection Recovery Fee       67462 non-null  float64
 23  Collection 12 months Medical  67462 non-null  int64
 24  Application Type              67462 non-null  object
 25  Last week Pay                 67462 non-null  int64
 26  Accounts Delinquent           67462 non-null  int64
 27  Total Collection Amount       67462 non-null  int64
 28  Total Current Balance         67462 non-null  int64
 29  Total Revolving Credit Limit  67462 non-null  int64
 30  Loan Status                   67462 non-null  int64
dtypes: float64(9), int64(16), object(6)
memory usage: 16.0+ MB

In [21]:

def categorize_loan(input_term):
    categories = {
        "Home Loans": [
            "home loan", "home buying", "home improvement", "home", "pool", "bathroom",
            "nri home loans", "loan against property",
            "home improvement loan"
        ],    
        "Personal Loans": [
            "personal", "personal loan",
            "Loan", "Loan1", "Get debt free",
            "Pay off", "My Loan"
        ],
        "Debt Consolidation": [
            "debt consolidation", "bill consolidation",
            "debt free", "get out of debt", "debt reduction",
            "Bill Payoff", 
            "Debt Payoff", "Consolidation Loan", "debt loan", "Freedom", "debt",
             "Debt Consolidation Loan",
        ],
        "Credit Card Management": [
            "credit cards", "cc", "credit card payoff",
            "credit card refinance", "credit payoff", "credit cards","credit","card",
            "credit card refinance loan","credit card debt", "credit card loan",
            "Credit consolidation", "CC refinance", "CC consolidation"
            
        ],
        "Vehicle Loans": [
            "car loan", "car financing", "vehicle loans", "major purchase", 
            
        ],
        "Business Loans": [
            "business", "working capital loans", "small industry", "trade credit", 
            "lending club", "lending loan"
        ],
        "Education Loans": [
            "education loans"
        ],
        "Secured Loans": [
            "loan against property", "loan against securities", "gold loan", "loan against ppf"
        ],
        "Special Purpose Loans": [
            "wedding loan", "vacation", "travel loans", "medical expenses", "medical loan",
            "moving and relocation", "consumer durable loans"
        ],
        "Agriculture Loans": [
            "agriculture","green loans"
        ],
        "Other Financial Products": [
            "overdraft", "cash advances", "title loans", "Bills","Lending Club", "My Loan" ,"Pay Off","Refinance","Refinance Loan"
        ]
    }

    input_term = input_term.lower()
    for category, terms in categories.items():
        if any(term in input_term for term in terms):
            return category
    
    return "Uncategorized"

def main():
    print("Welcome to the Loan Category Classifier!")
    print("Enter a loan term, and I'll categorize it for you.")
    print("Type 'quit' to exit the program.")
    print()

    while True:
        user_input = input("Enter a loan term: ")
        if user_input.lower() == 'quit':
            print("Thank you for using the Loan Category Classifier. Goodbye!")
            break
        category = categorize_loan(user_input)
        print(f"Category: {category}")
        print()

if __name__ == "__main__":
    main()

set(DF['Loan Title'])

Welcome to the Loan Category Classifier!
Enter a loan term, and I'll categorize it for you.
Type 'quit' to exit the program.

Enter a loan term:  quit

Thank you for using the Loan Category Classifier. Goodbye!

{'Bathroom',
 'Bill Consolidation',
 'Bill Payoff',
 'Business',
 'CC',
 'CC Consolidation',
 'CC Loan',
 'CC Refi',
 'CC Refinance',
 'CC consolidation',
 'CC-Refinance',
 'CONSOLIDATE',
 'CONSOLIDATION',
 'Car Loan',
 'Car financing',
 'Card Consolidation',
 'Cards',
 'Consolidate',
 'Consolidated',
 'Consolidation',
 'Consolidation Loan',
 'Credit',
 'Credit Card',
 'Credit Card Consolidation',
 'Credit Card Debt',
 'Credit Card Loan',
 'Credit Card Paydown',
 'Credit Card Payoff',
 'Credit Card Refi',
 'Credit Card Refinance',
 'Credit Card Refinance Loan',
 'Credit Card consolidation',
 'Credit Cards',
 'Credit Consolidation',
 'Credit Loan',
 'Credit card pay off',
 'Credit card payoff',
 'Credit card refinance',
 'Credit card refinancing',
 'Credit payoff',
 'DEBT CONSOLIDATION',
 'Debt',
 'Debt Consolidation',
 'Debt Consolidation 2013',
 'Debt Consolidation Loan',
 'Debt Free',
 'Debt Loan',
 'Debt Payoff',
 'Debt Reduction',
 'Debt consolidation',
 'Debt payoff',
 'Dept consolidation',
 'Freedom',
 'Get Debt Free',
 'Getting Ahead',
 'Green loan',
 'Home',
 'Home Improvement',
 'Home Improvement Loan',
 'Home buying',
 'Home improvement',
 'Home loan',
 'House',
 'Lending Club',
 'Lending loan',
 'Loan',
 'Loan 1',
 'Loan Consolidation',
 'MYLOAN',
 'Major purchase',
 'Medical',
 'Medical expenses',
 'Medical loan',
 'Moving and relocation',
 'My Loan',
 'Other',
 'Pay Off',
 'Payoff',
 'Personal',
 'Personal Loan',
 'Personal loan',
 'Pool',
 'Refinance',
 'Refinance Loan',
 'Vacation',
 'Wedding Loan',
 'bills',
 'cards',
 'conso',
 'consolidate',
 'consolidation',
 'consolidation loan',
 'credit card',
 'credit card consolidation',
 'credit card refinance',
 'credit pay off',
 'debt',
 'debt consolidation',
 'debt consolidation loan',
 'debt loan',
 'get out of debt',
 'home improvement',
 'loan1',
 'pay off bills',
 'payoff',
 'personal',
 'refi',
 'relief',
 'vacation'}

In [22]:
DF['Loan Title']

0             Debt Consolidation
1             Debt consolidation
2             Debt Consolidation
3             Debt consolidation
4        Credit card refinancing
                  ...
67457         Debt consolidation
67458    Credit card refinancing
67459    Credit card refinancing
67460               Lending loan
67461         Debt consolidation
Name: Loan Title, Length: 67462, dtype: object

In [28]:
key = {'w':1,'f':0}
DF['Initial List Status'] = DF['Initial List Status'].map(key)

In [29]:
DF['Initial List Status']

0        1
1        0
2        1
3        1
4        1
        ..
67458    1
67459    1
67460    1
67461    0
67462    0
Name: Initial List Status, Length: 67463, dtype: int64

In [30]:
DF.head()

,ID,Loan Amount,Funded Amount,Funded Amount Investor,Term,Batch Enrolled,Interest Rate,Grade,Sub Grade,Employment Duration,...,Recoveries,Collection Recovery Fee,Collection 12 months Medical,Application Type,Last week Pay,Accounts Delinquent,Total Collection Amount,Total Current Balance,Total Revolving Credit Limit,Loan Status
0,65087372,10000,32236,12329.36286,59,BAT2522922,11.135007,B,C4,MORTGAGE,...,2.498291,0.793724,0,INDIVIDUAL,49,0,31,311301,6619,0
1,1450153,3609,11940,12191.99692,59,BAT1586599,12.237563,C,D3,RENT,...,2.377215,0.974821,0,INDIVIDUAL,109,0,53,182610,20885,0
2,1969101,28276,9311,21603.22455,59,BAT2136391,12.545884,F,D4,MORTGAGE,...,4.316277,1.020075,0,INDIVIDUAL,66,0,34,89801,26155,0
3,6651430,11170,6954,17877.15585,59,BAT2428731,16.731201,C,C3,MORTGAGE,...,0.107020,0.749971,0,INDIVIDUAL,39,0,40,9189,60214,0
4,14354669,16890,13226,13539.92667,59,BAT5341619,15.008300,C,D4,MORTGAGE,...,1294.818751,0.368953,0,INDIVIDUAL,18,0,430,126029,22579,0

In [31]:
DF.drop(columns = ['Grade'],inplace=True)

In [32]:
DF.drop(columns = ['Sub Grade'],inplace=True)

In [33]:
DF.drop(columns = ['ID'],inplace=True)

In [35]:
DF = DF.rename(columns={'Employment Duration' : 'Ownership Type'})

In [36]:
DF.head()

,Loan Amount,Funded Amount,Funded Amount Investor,Term,Batch Enrolled,Interest Rate,Ownership Type,Home Ownership,Verification Status,Payment Plan,...,Recoveries,Collection Recovery Fee,Collection 12 months Medical,Application Type,Last week Pay,Accounts Delinquent,Total Collection Amount,Total Current Balance,Total Revolving Credit Limit,Loan Status
0,10000,32236,12329.36286,59,BAT2522922,11.135007,MORTGAGE,176346.62670,Not Verified,n,...,2.498291,0.793724,0,INDIVIDUAL,49,0,31,311301,6619,0
1,3609,11940,12191.99692,59,BAT1586599,12.237563,RENT,39833.92100,Source Verified,n,...,2.377215,0.974821,0,INDIVIDUAL,109,0,53,182610,20885,0
2,28276,9311,21603.22455,59,BAT2136391,12.545884,MORTGAGE,91506.69105,Source Verified,n,...,4.316277,1.020075,0,INDIVIDUAL,66,0,34,89801,26155,0
3,11170,6954,17877.15585,59,BAT2428731,16.731201,MORTGAGE,108286.57590,Source Verified,n,...,0.107020,0.749971,0,INDIVIDUAL,39,0,40,9189,60214,0
4,16890,13226,13539.92667,59,BAT5341619,15.008300,MORTGAGE,44234.82545,Source Verified,n,...,1294.818751,0.368953,0,INDIVIDUAL,18,0,430,126029,22579,0

In [37]:
DF.drop(columns = ['Payment Plan'],inplace=True)

In [38]:
DF.head()

,Loan Amount,Funded Amount,Funded Amount Investor,Term,Batch Enrolled,Interest Rate,Ownership Type,Home Ownership,Verification Status,Loan Title,...,Recoveries,Collection Recovery Fee,Collection 12 months Medical,Application Type,Last week Pay,Accounts Delinquent,Total Collection Amount,Total Current Balance,Total Revolving Credit Limit,Loan Status
0,10000,32236,12329.36286,59,BAT2522922,11.135007,MORTGAGE,176346.62670,Not Verified,Debt Consolidation,...,2.498291,0.793724,0,INDIVIDUAL,49,0,31,311301,6619,0
1,3609,11940,12191.99692,59,BAT1586599,12.237563,RENT,39833.92100,Source Verified,Debt consolidation,...,2.377215,0.974821,0,INDIVIDUAL,109,0,53,182610,20885,0
2,28276,9311,21603.22455,59,BAT2136391,12.545884,MORTGAGE,91506.69105,Source Verified,Debt Consolidation,...,4.316277,1.020075,0,INDIVIDUAL,66,0,34,89801,26155,0
3,11170,6954,17877.15585,59,BAT2428731,16.731201,MORTGAGE,108286.57590,Source Verified,Debt consolidation,...,0.107020,0.749971,0,INDIVIDUAL,39,0,40,9189,60214,0
4,16890,13226,13539.92667,59,BAT5341619,15.008300,MORTGAGE,44234.82545,Source Verified,Credit card refinancing,...,1294.818751,0.368953,0,INDIVIDUAL,18,0,430,126029,22579,0

In [39]:
DF['Initial List Status']

0        1
1        0
2        1
3        1
4        1
        ..
67458    1
67459    1
67460    1
67461    0
67462    0
Name: Initial List Status, Length: 67463, dtype: int64